#pv-profile-picture {
	width: 150px;
	height: 150px;
	margin-right: 10px;
	border-radius: 50%;
}

#pv-profile-header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

#pv-block-button {
	margin-left: auto;
}

#pv-settings-button {
	margin-left: auto;
}

#pv-profile-name {
	font-size: 60px;
	font-weight: bold;
}

#pv-profile-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

#pv-quiz-stats {
	display: inline-block;
	border: 1px solid #1c4f73;
	padding: 10px;
	max-width: 48%;
	margin: left;
}

#pv-quiz-stats:hover {
	background-color: #f0f0f0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #1c4f73;
}

#pv-quiz-stats h4 {
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 10px;
}

#pv-quiz-stats-list {
	list-style-type: none;
	padding: 0;
}

#pv-quiz-stats-list li {
	margin-bottom: 5px;
	font-size: 16px;
}

#pv-profile-settings-content {
	margin-bottom: 10px;
	margin-right: auto;
}

#pv-show-blocked-users {
	margin-bottom: 5px;
}

.pv-blocked-user-item {
	font-size: 18px;
}

.pv-unblock-button {
	margin-left: 5px;
	height: 30px;
	font-size: 16px;
	padding: 2px;
}

#pv-profile-second-div {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.pv-blocked-user-name {
	cursor: pointer;
}

#pv-friends-add-remove-button {
	margin-left: 10px;
}

.pv-friend-item {
	margin-top: 5px;
	padding: 2px;
	cursor: pointer;
	border: 1px solid #1c4f73;
}

.pv-friend-item:hover {
	background-color: #f0f0f0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #1c4f73;
}

#pv-friends-list {
	display: flex;
	flex-direction: column;
	align-items: right;
	width: 100%;
	align-self: flex-start;
}

#pv-show-friends-button,
#pv-show-friend-requests-button {
	margin-bottom: 5px;
	margin-top: 5px;
	width: 180px;
}

#pv-profile-friends-content {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.pv-friend-request-got-item,
.pv-friend-request-sent-item {
	margin-top: 5px;
	margin-bottom: 2px;
	padding: 2px;
	cursor: pointer;
	border: 1px solid #1c4f73;
}

.pv-friend-request-got-item:hover,
.pv-friend-request-sent-item:hover {
	background-color: #f0f0f0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border: 1px solid #1c4f73;
}

.pv-fr-list-accept-button,
.pv-fr-list-deny-button,
.pv-fr-list-cancel-request-button {
	margin-left: 5px;
	height: 30px;
	font-size: 16px;
	padding: 2px;
}
